.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.item {
    padding: 15px 30px;
}
.black {
    color: black;
}
.filmName {
    margin-top: 10px;
}
.itemImage {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.itemImage:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
} 
.buttonCenter {
    display: flex;
    justify-content: center;
    width: 100%;
}