.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.memeImg {
    max-height: 300px;
    margin: 10px;
    border: 1px solid black;
}
.memes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
}
.favoriteContainer {
    text-align: center;
}
.authUsers {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    margin-bottom: 100px;
}
.marginsNeeded {
    margin-bottom: 10px;
}